html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 50px);
}

body {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease;
}

header {
    background-color: #08034d;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    margin: 0;
}
.header a{
    text-align: center;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

nav.nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #FFA500;
}

.hamburger {
    display: none;
    font-size: 28px;
    text-align: right;
}

canvas {
    z-index: -1;
}

/* Clock Styling */
:root {
    --smaller: .75;
  }
  .timer {
    color: #d3ff11;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-weight: normal;
    letter-spacing: .125rem;
    text-transform: uppercase;
  }
  
  li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }
  
  .emoji {
    display: none;
    padding: 1rem;
  }
  
  .emoji span {
    font-size: 4rem;
    padding: 0 .5rem;
  }
  
@media all and (max-width: 650px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  
  }
 /*End of clock styling*/

@media screen and (max-width: 1080px) {
    h4 {
        font-size: 20px;
    }

    .hamburger {
        display: block;
    }

    nav.nav {
        display: none;
        flex-direction: column;
        align-items: flex-end;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
    }

    nav.nav.active {
        display: flex;
        align-content: first baseline;
        background-color: #282828;
    }

    .heading h2 {
        font-size: 27px;
    }
}

.logo {
    margin-right: 100px; /* Adjust the value to your desired spacing */
}

.container {
    max-width: 1200px;
    padding: 2rem;
    margin-top: 0; /* Adjust this value to match the height of your navbar */
}

.heading {
    text-align: center;
    background-image:url( techu.png);
    background-size: cover;
    background-position: center;
    position: relative;
    height: auto; /* Set the desired height for the canvas background */
    overflow: hidden;
}

.heading h2,
.heading h4,
.heading h6,
.heading h4:last-child {
    text-align: center; /* Align all headings to the center */
}

.highlight {
    font-size: 1.2rem;
    color: #FFA500;
    margin-bottom: 0;
}

.subevents-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding-left:auto;
}

.subevent-details {
    width: 300px; /*calc(30% - 20px);*/
    height: 300px; /* Set the height for each box */
    /* background-color: #F9F9F9;
    background-image: linear-gradient(to right, rgb(58, 43, 198), rgb(80, 146, 212));*/
    background-image: url(tech3.jpg);
    background-size: cover;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-sizing: border-box;
    justify-content: space-between;
    transition: scale 2s;
}

.subevent-details h2 {
    color: #ffffff;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.subevent-details p {
    overflow: hidden; /* Hide overflowing text */
    margin: 0; /* Reset margin to prevent spacing */
    font-size: 1rem; /* Optionally, you can reduce font size */
}

.subevent-details a {
    color: #FFA500;
    text-decoration: none;
}

.subevent-details:hover {
    transform: scale(1.05);
}

/* Media queries for responsive layout */
@media screen and (max-width: 950px) {
    .subevent-details {
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width: 550px) {
    .subevent-details {
        width: 300px;
        height: 300px;
    }
    h4{
        font-size: 15px;
    }
}

/* Center the contact and gallery sections */
.contact {
    text-align: center;
    font-size: 24px;
    display: none;
}

.symbol {
    cursor: pointer;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }
.contact,
.gallery {
    text-align: center;
    margin: 4rem 0;
}

.gallery img {
    max-width: 100%;
}
